# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

#others
.DS_Store

*.bin
!msxpiext.bin
*.swp
*.bak
.DS_Store
software/zout/**
*.lck
*.qws
*.rpt
*.summary
*.flock
*.cdb
*.hdb
*.cdf
*.db_info
*.tmw_info
*.lst
*lock.*

