#How to install and run
#copy into /lib/systemd/system
#sudo systemctl daemon-reload  (May be needed if the script was already there)
#sudo systemctl enable msxpi-server (so it gets executed at boot)
#sudo systemctl start msxpi-server (to start it)
#sudo systemctl stop msxpi-server (to stop it)
#sudo journalctl -u msxpi-server (logging)
#sudo journalctl -f -u msxpi-server (continuous logging)


[Unit]
Description=Start MSXPi Server

[Service]
WorkingDirectory=/home/pi/msxpi
ExecStart=/home/pi/msxpi/msxpi-server

[Install]
WantedBy=multi-user.target
